.home
  &__container
    background-color #f1faff
    min-height 100%
    display flex
    flex-direction column
  &__title
    margin 20px auto
    font-size 40px
  &__errorMessage
    color red
    font-size 20px
    text-align center
